<li>
	{{name}}

	<button class="change-sushi" data-id="{{id}}" data-newsushi="{{prepared}}">
		{{#if prepared}}Prepared{{else}}Eaten{{/if}}
	</button>

	<button class="delete-sushi" data-id="{{this.id}}">DELETE!</button>
</li>