<li>
	{{name}}

	<button class="change-sushi btn btn-dark" data-id="{{id}}" data-newsushi="{{prepared}}">
		{{#if prepared}}Click to eat!{{else}}Click to re-order!{{/if}}
	</button>

	<button class="delete-sushi btn btn-dark" data-id="{{this.id}}">DELETE!</button>
</li>